p{
    text-indent: 1.2em;
}

div{
    border: 1px solid black;
}
.morado{
    background-color: #6B04FF;
}
.verde{
    background-color: #59cf55;
}
.naranja{
    background-color: #FF5B04;
}
div.estandar{
    background-color: #ec5555;
}

table{
    display: table;
    border: 1px solid black;
    box-sizing: 100000px;
    border-collapse: collapse;
}

table.celdas tr td{
    border: 1px solid black;
    text-align-last: center;
    min-width: 150px;
}

table.cajas tr td{
    border: 1px solid black;
}

.row {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 0px;
    margin-left: 0px;
}

body{
    background-color: rgb(3, 40, 81);
    color:black;
}